.rating--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
}

.rating--star--filled {
    height: 30px;
    width: 30px;
    filter: invert(83%) sepia(51%) saturate(6953%) hue-rotate(318deg) brightness(94%) contrast(115%);
}

.rating--star--empty {
    height: 30px;
    width: 30px;
    filter: invert(87%) sepia(0%) saturate(502%) hue-rotate(178deg) brightness(110%) contrast(86%);
}

.rating--star--empty:hover {
    filter: invert(83%) sepia(51%) saturate(6953%) hue-rotate(318deg) brightness(94%) contrast(115%);
}

@media screen and (max-width: 768px) {
    .rating--container {
        gap: 2px;
        margin: 0;
    }

    .rating--star--filled,
    .rating--star--empty {
        height: 18px;
        width: 18px;
    }
}

@media screen and ((min-width: 769px) and (max-width: 1040px)) {
    .rating--container {
        margin: 0;
    }
}