.tags--container {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 20px 0;
    gap: 10px;
}

.tag--item {
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    height: 25px;
    min-width: 115px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}