.carousel--container {
    position: relative;
    height: 415px;
    max-width: 1240px;
    cursor: pointer;
    margin-bottom: 30px;

    flex-shrink: 0;

    border-radius: 25px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(247, 247, 247, 1);
    background-blend-mode: multiply;
    object-fit: cover;
}