@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh; /* make the container fill the viewport height */
}

/*  +++++++ MAIN SECTION +++++++ */

main {
  margin: 0 auto;
  /* max-width: 1240px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; /* make the main content fill the remaining space */
  /* overflow-y: auto; add scrollbars if the content overflows */
  align-items: center;
}